$color-primary: #0a66c2;
$color-secondary: #8800ff;
$color-error: #dc0000;

// default font size
$font-size: calc(0.5vw + 1rem);

$color-text: #444;
$width-img-org: clamp(10rem, 15vw, 20rem);
$font-title-size: clamp(3rem, 3vw, 5.6rem);
$font-text-size: clamp(1.8rem, 2vw, 4rem);
$radius-sm: 0.8rem;
$radius-md: 1.2rem;
$radius-lg: 1.6rem;
$breakpoint-mobile-max: 762px;
