.input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;

  .input-style {
    width: 100%;
    height: 100%;
    padding: 0.75rem;
    border: 0.1rem solid #797883;
    border-radius: $radius-sm;
    font-size: $font-size;
    transition: border-color 0.2s;
    margin: 1rem;

    &[type="number"] {
      appearance: textfield;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &:focus {
      outline: none;
      border-color: $color-primary;
    }

    &:focus + .label-style,
    &:not(:placeholder-shown) + .label-style {
      top: clamp(-0.6rem, -0.6vw, -1.5rem);
      scale: 0.85;
      //   color: #3b82f6;
      transform: translateY(0);
      font-size: clamp(1.2rem, 1.1vw, 3rem);
      padding: 0 0.5rem;
    }
  }

  .label-style {
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    scale: 1;
    background-color: var(--background);
    padding: 0 0.25rem;
    white-space: nowrap;
    pointer-events: none;
    transition: all 0.2s ease-out;
    transform-origin: top right;
    font-size: $font-size;
    user-select: none;
  }

  .error-style {
    position: absolute;
    bottom: -2rem;
    left: 2rem;
    color: $color-error;
    font-size: 1.5rem;
    margin-top: 0.25rem;
    min-height: 1rem;
  }
}
