:root {
  --background: #fff;
  --foreground: #171717;
  --sidebar: #ccc;
  --primary: #0a66c2;
  --textPrimary: #fff;
}

html,
body {
  font-size: 62.5% !important;
  overflow-x: hidden;
}

body {
  background-color: #f2f2f7;
}

// Example of how you would add dark mode theming here
// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #1e1e1e;
//     --foreground: #ededed;
//     --sidebar: #4d4d4d5e;
//   }
//   html {
//     color-scheme: dark;
//   }
// }
